<!DOCTYPE html>

<html>
  <head>
    <%- include('base/head.ejs') %>
    <link href="/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('base/header.ejs') %>

    <div class="container-fluid my-3">
      <div class="row mb-4">
        <div class="col-12">
          <div class="dropdown">
            <button
              type="button"
              id="system-toggle"
              class="btn btn-secondary dropdown-toggle"
              data-toggle="dropdown"
              data-key="<%= data.systems?.[0]?.key %>"
            >
              <%= data.systems?.[0]?.name %>
            </button>
            <div class="dropdown-menu">
              <% data.systems?.forEach((system, index) => { %>
              <a
                class="dropdown-item system-toggle-item"
                data-key="<%= system?.key %>"
                ><%= system?.name %></a
              >
              <% }); %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-header p-1 font-weight-bold">연도별 현황</div>
            <div class="card-body">
              <canvas id="year-statistics"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-header p-1 font-weight-bold">항목별 현황</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <canvas id="management-statistics"></canvas>
                </div>
                <div class="col-md-4 mb-3">
                  <canvas id="protection-statistics"></canvas>
                </div>
                <div class="col-md-4 mb-3">
                  <canvas id="privacy-statistics"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('base/footer.ejs') %> <%- include('base/script.ejs') %>
    <script src="/js/main.js"></script>
  </body>
</html>
