<!DOCTYPE html>

<html>
  <head>
    <%- include('base/head.ejs') %>
    <link href="/css/main.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('base/header.ejs') %>

    <div class="container-fluid my-3">
      <div class="row mb-4">
        <div class="col-12"><%- include('base/system-tab.ejs') %></div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-header p-1 font-weight-bold">
              올해(<span id="year-statistics-year"></span>년)의 현황
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <canvas id="management-statistics"></canvas>
                </div>
                <div class="col-md-4 mb-3">
                  <canvas id="protection-statistics"></canvas>
                </div>
                <div class="col-md-4 mb-3">
                  <canvas id="privacy-statistics"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-header p-1 font-weight-bold">년도별 현황</div>
            <div class="card-body">
              <canvas id="year-statistics"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('base/footer.ejs') %> <%- include('base/script.ejs') %>
    <script src="/js/main.js"></script>
  </body>
</html>
