<!DOCTYPE html>

<html>
  <head>
    <%- include('base/head.ejs') %>
    <link href="/css/resource.css" rel="stylesheet" />
  </head>

  <body>
    <%- include('base/header.ejs') %>

    <div class="container-fluid my-3">
      <div class="row mb-4">
        <div class="col-12"><%- include('base/system-tab.ejs') %></div>
      </div>
    </div>

    <%- include('base/footer.ejs') %> <%- include('base/script.ejs') %>
    <script src="/js/resource.js"></script>
  </body>
</html>
