<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand mr-4" href="/">
    <img src="/image/logo.png" alt="Logo" style="height: 40px" /><span class="ml-1" style="color: skyblue; font-size: 1rem;">
      ISMS Guardian</span>
  </a>

  <ul class="navbar-nav mr-auto">
    <li
      class="nav-item mx-2 <%= data.navbar?.active === 'main' ? 'active' : '' %>"
    >
      <a id="nav-link-main" class="nav-link" href="/">대시보드</a>
    </li>
    <li
    class="nav-item mx-2 <%= data.navbar?.active === 'intro' ? 'active' : '' %>"
    >
      <a id="nav-link-intro" class="nav-link" href="/intro">소개</a>
    </li>

    <li class="nav-item dropdown mx-2 <%= data.navbar?.active === 'isms' ? 'active' : '' %>">
      <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
        ISMS관리
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/isms/1">1. 관리체계 수립 및 운영</a>
        <a class="dropdown-item" href="/isms/2">2. 보호대책 요구사항</a>
        <a class="dropdown-item" href="/isms/3">3. 개인정보 처리 단계별 요구사항</a>
      </div>
    </li>

    <li
      class="nav-item mx-2 <%= data.navbar?.active === 'resource' ? 'active' : '' %>"
    >
      <a id="nav-link-resource" class="nav-link" href="/resource">자산관리</a>
    </li>
  </ul>

  <div class="text-light">
    <div class="mb-1 text-right" style="font-size: 14px"><%= session.user.name %>님 (<%= session.user.team.name %>)</div>
    <div class="text-right">
      <a href="#" class="btn btn-sm btn-light invisible mr-1" style="padding: 1px 2px; font-size: 12px">
        설정
      </button>
      <a href="/login" class="btn btn-sm btn-light" style="padding: 1px 2px; font-size: 12px">
        로그아웃
      </a>
    </div>
  </div>
</nav>
